@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions;
<!DOCTYPE html>
<html lang="en">
<head>
    @inject IWebHostEnvironment HostEnvironment
    @inject IHttpContextAccessor HttpContextAccessor
    @{
        var canonicalPath = string.Empty;
        if(HttpContextAccessor?.HttpContext is not null) {
            canonicalPath = HttpContextAccessor.HttpContext.Request.Path;
        }
    }
    <link rel="canonical" href="@($"https://demo.saptools.mx{canonicalPath}")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="canonical" href="@($"https://demo.saptools.mx{@canonicalPath}")" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAPLogon.Web.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/favicon.ico?v=20230623" />
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png?v=20230624" />
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png?v=20230624" />

    <!-- Twitter specific meta tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@("@")AbrahamVadillo" />
    <meta name="twitter:site" content="@("@")saptools_" />
    <meta name="twitter:image" content="https://demo.saptools.mx/img/logo.sq.600x600.png?v=20230623" />

    <!-- OpenGraph meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://demo.saptools.mx/img/logo.sq.600x600.png?v=20230623" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="@($"https://demo.saptools.mx{@canonicalPath}")" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/index">Demo@("@")SAP Tools</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/webservice">WebService</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/webgui">WebGUI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/disclaimer">Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-light text-muted">
        <div class="container py-1">
            <div class="row">
                <div class="col-md-6 text-md-right">
                    <p>&copy; @(DateTime.Now.Year) SAP Tools | <a href="/privacy" class="text-dark">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@if (HttpContextAccessor?.HttpContext is not null) {
    var httpContext = HttpContextAccessor.HttpContext;
    var host = httpContext.Request.Host.Host;
    var pathAndQuery = $"{httpContext.Request.Path}{httpContext.Request.QueryString}";
    var isProduction = HostEnvironment.IsProduction();
    var redirectUrl = String.Empty;

    if (host.Contains("saptools.mx", StringComparison.OrdinalIgnoreCase)) {
        if (isProduction && !host.Equals("demo.saptools.mx", StringComparison.OrdinalIgnoreCase)) {
            redirectUrl = $"https://demo.saptools.mx{pathAndQuery}";
        } else if (!isProduction && !host.Equals("demo-test.saptools.mx", StringComparison.OrdinalIgnoreCase)) {
            redirectUrl = $"https://demo-test.saptools.mx{pathAndQuery}";
        } 
    }
    if (!String.IsNullOrEmpty(redirectUrl)) {
        httpContext.Response.Redirect(redirectUrl, true);
        httpContext.Response.StatusCode = 301;
    }
} 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>